[run]
relative_files = True
source = src
omit =
    */tests/*
    */venv/*
    */.venv/*
    */__pycache__/*
    */site-packages/*

[report]
precision = 2
show_missing = True
skip_covered = False

[xml]
output = coverage.xml

[html]
directory = htmlcov
